* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
}

#logo {
    width: 10%;
}

.links {
    display: flex;
    width: 10%;
}

#login {
    width: 20%;
}

#cart {
    width: 45%;
}

.categories {
    background-color: rgb(150, 121, 200);
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.category {
    color: white;
    text-decoration: none;
}

.intro {
    position: relative;
    margin: 30px 0 30px 0;
}

#nature {
    width: 100%;
    height: 500px;
}

h2 {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 35%;
    left: 3%;
}

.main {
    display: flex;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: 30px;
}

.bikes {
    display: flex;
    margin-left: 70px;
    gap: 50px;
}

.bike {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgb(239, 239, 239);
    border-radius: 7px;
    padding: 0 10px 0 10px;
}

#bike {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 100%;
}

button {
    padding: 7px 13px 7px 13px;
    background-color: orange;
    border: none;
    border-radius: 3px;
}