* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
}

.links {
    display: flex;
    width: 10%;
}

#login {
    width: 20%;
}

#cart {
    width: 45%;
}

.categories {
    background-color: rgb(150, 121, 200);
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.category {
    color: white;
    text-decoration: none;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 10%;
}