* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
}

#logo {
    width: 10%;
}

.links {
    display: flex;
    width: 10%;
}

#login {
    width: 20%;
}

#cart {
    width: 45%;
}

.categories {
    background-color: rgb(150, 121, 200);
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.category {
    color: white;
    text-decoration: none;
}

.intro {
    position: relative;
    margin: 30px 0 30px 0;
}

#nature {
    width: 100%;
    height: 500px;
}

h2 {
    position: absolute;
    color: white;
    font-size: 70px;
    top: 35%;
    left: 3%;
}

.main {
    display: flex;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 10%;
}